/*===== VARIABLES CSS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    text-decoration: none;
}
#loding{
  position: fixed;
  width: 100%;
  height: 100vh;
  background:#fff url('images/1494.gif')
  no-repeat center;
  z-index: 999;
}

html{
  scroll-behavior: smooth;
}
.logo{
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 48px;
  align-items: center;
  font-size: 15px;
  color: #000;
}
.home-logo{
  position: relative;
  margin: auto;
  margin-top: -20px;
  margin-bottom: -20px;
  text-decoration: none;
  font-size: 45px;
  color: #000;
}
/* navbar code start */
.nav-li ul li a{
  text-decoration: none;
}

.navbar .megamenu{ padding: 1rem; }

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }

}	
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media(max-width: 991px){
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
    overflow-y: auto;
      max-height: 90vh;
      margin-top:10px;
  }
}
/* navbar code end */
  
  /* main body code */
.fistsection{
    display: flex;
    height: 50vh;
    /* background: rgba(0, 0, 0, 0.7) url(https://images.unsplash.com/photo-1565373679580-fc0cb538f49c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80); */
    background-size: cover;
    background-blend-mode: darken;
}
.box-main{
    /* margin-left: 20px; */
    /* flex-direction: column-reverse; */
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    max-width: 60%;
    margin: auto;
}
.first-half{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
}
.second-half {
    float: left;
    width: 30%;
}
.second-half img{
    width: 100%;
    display: block;
    margin: auto;
    /* border: 4px solid white; */
    border-radius: 10px;
}
.text-big{
    margin-bottom: 2px;
    font-size: 30px;
    font-weight: 800;
}
.text-small{
    font-size: 18px;
}
.button{
    margin:18px 0;
}
.gst-register-btn{
    padding: 8px 20px;
    margin: 13px 0;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    background: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.gst-register-btn:hover{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#purpose{
  color: #0E2431;
}
.gst-return-btn{
  display: block;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;

}
.gst-return-btn:hover{
  background: black;
  color: white;
}
.What-is-gst{
  height: 100%;
  display: flex;
  margin: 20px;
  padding: 20px;
}

#more {
  display: none;
}
.read-more{
  display: block;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.read-more:hover{
  background: black;
  color: white;
}

/* ===== FOOTER =====*/
.footer{
  background-color:#0E2431;
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 2rem 0;
}
.footer__title{
  font-size: 2rem;
  margin-bottom:2rem;
}
.footer__social{
  margin-bottom:2rem;
}
.footer__icon{
  font-size: 1.5rem;
  color: #fff;
  margin: 0 1rem;
}

@media (max-width : 500px){
      .about-box{
          flex-wrap: wrap;
          font-size: 10px;
      }
      .about-box .content p{
          flex-wrap: wrap;
      }
  }

@media screen and (max-width:1140px) {

  .fistsection{
      flex-wrap: wrap;
  }
  .first-half{
    margin: auto;
  }
  .second-half img{
    margin-top: 20px;
  }

  .box-main{
      flex-direction: column-reverse;
      max-width: 100%;
  }
  .text-big,.text-small,.button{
      text-align: center;
  }
  .gst-return-btn{
    margin: auto;
  }

}
@media screen and (max-width:360px) {
    .text-small {
      font-size: 17px;
    }
    .second-half img{
      margin-top: 105px;
    }
}

.formerror{
  font-weight: bold;
  color: red;
}

@media screen and (min-width:360px) and (max-width:640px) {
  .home-logo{
    font-size: 25px;
    position: absolute;
    top: 16px;
    right: 69px;
  }
}

@media screen and (min-width:411px) and (max-width:731px){

  .home-logo{
    font-size: 25px;
    position: absolute;
    top: 16px;
    right:98px;
  }
}

/* @media screen and (min-width:411px) and (max-width:823px){
  .box-main {
    margin-top: -150px;
  } 
} */

@media screen and (min-width:320px) and (max-width:568px){
  .home-logo{
    margin-top: -20px;
    margin-bottom: -10px;
    font-size: 25px;
    color: #000;
  }
}






